*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(19, 1, 35);
    color: whitesmoke;
    font-size: 20px;
    
    margin-top: 100px;
    
    
}
.h1e{
    border: 0px solid;
    margin-left: 350px;
    margin-right: 350px;
    box-shadow: 1px 1px 10px 10px rgb(57, 57, 117);
}
.h2e{
    text-align: center;
    margin-top: px;
    padding: 50px;
    
}
.h3e{
    display: flex;
    justify-content: space-evenly;
    
    gap: 40px;
}
.h4e input {
    border: 1px solid rgb(20, 5, 32);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    

}
#log1{
    background-color: rgb(108, 55, 155);
    color: whitesmoke;
    margin-top: 30px;
    
    height: 50px;
    padding-right: 90px;
}
.h7e{
    margin-top: 0px;
    font-size: 50px;
    border: 0px solid ;
    padding-bottom: 30px;
    text-align: center;

}
.h7e button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    word-spacing: 5px;
    background-color: whitesmoke;
    border: 0px solid;
    color: black;
}